P2/logs_nginx/*.log
P2/logs_apache/*.log
P2/logs_nginx/*.log
P2/logs_apache/*.log
P3/P3-flotodor-certificados/*
P5-granjaweb/logs_nignx/*.log
P5-granjaweb/logs_apache/*.log
P5-granjaweb/logs_apache/*.log
*.pdf
