# Proteger archivos sensibles
<FilesMatch "(^\.ht|\.ini|\.log|\.sh|\.sql|\.bak|\.inc)">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Bloquear exploración de directorios
Options -Indexes

# Activar compresión gzip para reducir el tamaño de los archivos que se envian y acelerar la página
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>
