# Ignorar todos los archivos de log
*.log

# Ignorar carpetas de logs específicas
P2/logs_apache/
P2/logs_nginx/
P2/logs_escalado/
logs_apache/
logs_nginx/
logs_escalado/

# Ignorar datos persistentes de Grafana y Prometheus
grafana_data/
prometheus_data/

# Ignorar archivos generados por Prometheus file_sd
file_sd/

# Ignorar backups, temporales, cachés
*.bak
*.tmp
*.cache